.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-card {
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
